@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #001c30;
  font-family: "Raleway", sans-serif;
  overflow: hidden;
}
/* SIGN UP FORM */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fffafa;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

.input.valid ~ span,
.input:focus ~ span {
  color: #64ccc5;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background-color: #0b2447;
  border-left: 1px solid #64ccc5;
  border-right: 1px solid #64ccc5;
  letter-spacing: 0.2rem;
  font-weight: 600;
}

.input:valid,
.input:focus {
  border: 1px solid #64ccc5;
}

/* AVATAR PAGE */

.selected {
  border: 0.4rem solid #64ccc5;
  transform: scale(1.2);
}

.loader {
  max-inline-size: 100%;
}

/* CONTACT LIST CHAT PAGE */

:where(.contacts, .chat-messages)::-webkit-scrollbar {
  width: 0.2rem;
}

:where(.contacts, .chat-messages)::-webkit-scrollbar-thumb {
  background-color: #64ccc5;
  width: 0.1rem;
  border-radius: 1rem;
}

/* EMOJIS */
.emoji aside.EmojiPickerReact.epr-main {
  position: absolute;
  top: -450px;
  left: 16px;
  transform: scale(80%);
  background-color: #001c30;
  box-shadow: 0px 5px 10px #64ccc5;
  border-color: #64ccc5;
}

.EmojiPickerReact.epr-main .epr-search-container input.epr-search,
.EmojiPickerReact.epr-main li.epr-emoji-category > .epr-emoji-category-label {
  background-color: #001c30;
  border-color: #64ccc5;
}
.EmojiPickerReact.epr-main .epr-search-container input.epr-search:focus {
  background-color: transparent;
  border-color: #64ccc5;
}
.epr-body::-webkit-scrollbar {
  width: 5px;
}
.epr-body::-webkit-scrollbar-thumb {
  background-color: #64ccc5;
}
.epr-category-nav button {
  filter: contrast(0);
}

